{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>

    {% for listing in listings %}
    <div class="listing">
        <div class="container">
            <div class="row">
                {% if listing.picture %}
                <div class="col-md-6">
                    <img src="{{ listing.picture }}" alt="Image of {{ listing.name }}" style="max-width: 100%; max-height: 100%;">
                </div>
                {% endif %}
                <div class="col-md-6">
                    <a href="{% url 'listing' listing.id %}">
                        <h1>{{ listing.name }}</h1>
                    </a>
                    <h3>{{ listing.description }}</h3>
                    <h3>Starting bid: {{ listing.price }}</h3>
                    <h3>Category: {{ listing.category }}</h3>
                    <h3>Owner: {{ listing.author }}</h3>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}