{% extends "auctions/layout.html" %}

{% block body %}
    <!--Item listing using bootstrap-->
    <div class="listing">
        <div class="container">
            <div class="row">
                {% if listing.picture %}
                <div class="col-md-6">
                    <!--Scale down picture to size-->
                    <img src="{{ listing.picture }}" alt="Image of {{ listing.name }}" style="max-width: 100%; max-height: 100%;">
                </div>
                {% endif %}
                <div class="col-md-6">
                    <h1>{{ listing.name }}</h1>
                    <h3>{{ listing.description }}</h3>
                    <h3>Starting bid: {{ listing.price }}</h3>
                    <!-- <h3>Current bid: {{ listing.current_bid }}</h3> -->
                    <h3>Category: {{ listing.category }}</h3>
                    <h3>Owner: {{ listing.author }}</h3>
                    <!-- <h3>Watchlist: {{ listing.watchlist }}</h3> -->
                    <!-- <h3>Active: {{ listing.active }}</h3>
                    <h3>Created: {{ listing.created }}</h3>
                    <h3>Updated: {{ listing.updated }}</h3>
                    <h3>Winner: {{ listing.winner }}</h3> -->
                </div>
            </div>
        </div>
    </div>

    <div class="listing">
        <div>{{ listing.name }}</div>
        <div>{{ listing.description }}</div>
        <div>{{ listing.price }}</div>

        {% if user.is_authenticated %}
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input name="id" hidden type="text" value="{{ listing.pk }}">
            {% if watchlisted %}
            <input type="submit" value="Remove from Watchlist">
            {% else %}
            <input type="submit" value="Watchlist">
            {% endif %}
        </form>
        {% endif %}
    </div>
{% endblock %}