{% extends "auctions/layout.html" %}

{% block body %}
    {% if listing.active %}
    <h2 class="text-success">Active</h2>
    {% else %}
    <h2 class="text-danger">Closed</h2>
    {% if max_bid and max_bid.author == user %}
    <h2 class="text-success">You won!</h2>
    {% endif %}
    {% endif %}
    <div class="item-listing">
    
    

    <!-- Option to close listing for author -->
    {% if user.is_authenticated and isAuthor and listing.active %}
    <form action="{% url 'close' %}" method="post">
        {% csrf_token %}
        <input hidden type="number" name="id" value="{{ listing.id }}">
        <input type="submit" value="Close Listing">
    {% endif %}

        <div class="card mb-3 p-2 no-border" style="min-height: 300px">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if listing.picture %}
                    <img src="{{ listing.picture }}" class="img-fluid rounded-start" alt="Image of {{ listing.name }}">
                    {% else %}
                    <!-- Grey backgorund -->
                    <div class="bg-secondary" style="width: 100%; height: 100%;"></div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{% url 'listing' listing.id %}">
                            <h5 class="card-title">{{ listing.name }}</h5>
                        </a>
                        <h6 class="card-subtitle mb-2 text-muted">Starting Price: {{ listing.price }}</h6>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text"><small class="text-muted">Created: {{ listing.created }}</small></p>

                        
                    </div>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input name="id" hidden type="text" value="{{ listing.pk }}">
            {% if watchlisted %}
            <input type="submit" value="Remove from Watchlist">
            {% else %}
            <input type="submit" value="Watchlist">
            {% endif %}
        </form>
        {% endif %}

        <div class="my-3">
            <h6>
                Max Bid: {% if max_bid %} {{ max_bid.amount }} {% endif %}
            </h6>
            {% if user.is_authenticated and listing.active %}
                <h6>
                    Your bid: {{ users_bid }}
                </h6>
                <!-- Form to bid -->
                <form action="{% url 'bid' %}" method="post">
                    {% csrf_token %}
                    <input hidden type="number" name="id" value="{{ listing.id }}">
                    <!-- Error Message -->
                    {% if errorMessage %}
                        <div class="alert alert-danger" role="alert">
                            {{ errorMessage }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <!-- Form and submit button on same row -->
                        <div class="row w-75">
                            <div class="col-9">
                                <input type="number" class="form-control" name="bid" placeholder="Enter bid">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary">Bid</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>

        <!-- Form for comment -->
        {% if user.is_authenticated and listing.active %}
        <div>
            <h3>Comment</h3>
            <form action="{% url 'comment' %}" method="post">
                {% csrf_token %}
                <input hidden type="number" name="id" value="{{ listing.pk }}">
                <div class="form-group">
                    <textarea class="form-control" name="content" rows="3" placeholder="Enter comment"></textarea>
                    <button type="submit" class="btn btn-primary my-2">Comment</button>
                </div>
            </form>
        </div>
        {% endif %}

        <!-- Comments -->
        <div>
            <h3>Comments</h3>
            {% for comment in comments %}
                <div class="card mb-3 p-3">
                    <h5 class="card-title">{{ comment.author.username }}</h5>
                    <p class="card-text">{{ comment.content }}</p>
                    <p class="card-text"><small class="text-muted">Created: {{ comment.created }}</small></p>            
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}